<a href="https://colab.research.google.com/github/gabsgoms10/UFABCBCC.-2021.3-/blob/main/Atividade3_2BCC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
 # Exercício 1
 import pandas as pd
 tab = pd.read_csv("https://drive.google.com/u/1/uc?id=182_Z-bL7n9itkupECYhIOEGuIjfQbF0Z&export=download")
 print(tab.columns)
 tab.sort_values(by="temperatura")
 # Media:
 print("A média de temperatura é:", tab['temperatura'].mean())
 # Mediana:
 print("A mediana das temperaturas é:", tab['temperatura'].median())
 # Moda:
 print("A moda das temperaturas é:", tab['temperatura'].mode())

Index(['periodo', 'temperatura'], dtype='object')
A média de temperatura é: 17.966666666666665
A mediana das temperaturas é: 17.5
A moda das temperaturas é: 0    15
1    17
dtype: int64

In [38]:
 # Exercicio 2: Calcule os percentis: 25ᵒ, 55ᵒ, 75ᵒ.
 import numpy as np
 tab = pd.read_csv("https://drive.google.com/u/1/uc?id=182_Z-bL7n9itkupECYhIOEGuIjfQbF0Z&export=download")
  # 25ᵒ
 print("25ᵒ=", np.percentile(tab['temperatura'], q=25))
  # 55ᵒ
 print("55ᵒ=", np.percentile(tab['temperatura'], q=55))
  # 75ᵒ
 print("75ᵒ=", np.percentile(tab['temperatura'], q=75))

25ᵒ= 15.0
55ᵒ= 18.0
75ᵒ= 20.0

In [71]:
 # Exercicio 3: Calcule a(s) moda(s) de temperatura. Calcule e imprima a menor moda.
 print(tab["temperatura"].mode().min())

15

In [42]:
# Exercício 4: Escreva instruções para ler o nome de uma coluna da tabela (período ou temperatura), obter e imprimir a(s) moda(s) no conjunto de dados da coluna lida.
print(tab['periodo'].mode())

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
dtype: int64

In [45]:
 # Exercício 5: Calcule e imprima a(s) moda(s) de temperatura, mas considere esse cálculo apenas para temperatura > 16.
 x = (tab.query('temperatura > 16'))
 print(x['temperatura'].mode())

0    17
dtype: int64

In [70]:
 # Exercicio 6: Calcule e imprime para a temperatura as seguintes medidas:
 # • mínimo
 print(tab['temperatura'].min())
 # • máximo
 print(tab['temperatura'].max())
 # • amplitude
 print(tab['temperatura'].max()- tab['temperatura'].min())
 # • variância - imprimir com 3 casas decimais
 print("%.3f" % tab['temperatura'].var())
 # • desvio padrão - imprimir com 3 casas decimais
 print("%.3f" % tab['temperatura'].std())

12
26
14
13.620
3.690

In [73]:
 """ Exercício 7: Crie a nova coluna com nome "razao" para qual o valor para cada período é a temperatura dividida pelo período. Imprime a tabela com esta nova coluna. 
 Calcule a variância de valores na coluna "razao"."""
tab['razão'] = tab['periodo']/tab['temperatura']
print(tab)
print('A variância da coluna razão é:', tab['razão'].var())

    periodo  temperatura     razão
0         1           25  0.040000
1         2           24  0.083333
2         3           24  0.125000
3         4           26  0.153846
4         5           22  0.227273
5         6           20  0.300000
6         7           14  0.500000
7         8           13  0.615385
8         9           14  0.642857
9        10           12  0.833333
10       11           15  0.733333
11       12           17  0.705882
12       13           21  0.619048
13       14           20  0.700000
14       15           19  0.789474
15       16           20  0.800000
16       17           20  0.850000
17       18           17  1.058824
18       19           18  1.055556
19       20           18  1.111111
20       21           15  1.400000
21       22           17  1.294118
22       23           13  1.769231
23       24           15  1.600000
24       25           15  1.666667
25       26           17  1.529412
26       27           15  1.800000
27       28           18  1.555556
28       29           17  1.705882
29       30           18  1.666667
A variância da coluna razão é: 0.31289703748070286