In [95]:
 # EXERCICIO 1
 # Pede-se:
 # 1 - Leia a Tabela do arquivo CSV para o seu notebook
 import pandas as pd
 x = pd.read_csv(r"https://drive.google.com/u/3/uc?id=1LEfgutKJxFomzEVMjdFdSJIp4A5qq8oB&export=download")
 print(x)

In [90]:
 # EXERCICIO 1
 # 2 – Crie uma instrução para visualizar as primeiras 5 linhas da tabela
 import pandas as pd
 df = pd.read_csv("https://drive.google.com/u/3/uc?id=1LEfgutKJxFomzEVMjdFdSJIp4A5qq8oB&export=download")
 print(df.head(5))

  Confederation                   Stadium    City  ...  Country  IOC Population
0          UEFA       Stadiumi Besëlidhja   Lezhë  ...  Albania  ALB    2876591
1          UEFA       Stadiumi Flamurtari   Vlorë  ...  Albania  ALB    2876591
2          UEFA             Stadiumi Laçi    Laçi  ...  Albania  ALB    2876591
3          UEFA      Stadiumi Niko Dovana  Durrës  ...  Albania  ALB    2876591
4          UEFA  Stadiumi Selman Stërmasi  Tirana  ...  Albania  ALB    2876591

[5 rows x 8 columns]

In [94]:
 # EXERCICIO 1
 # 3 - Crie uma instrução para visualizar as últimas 8 linhas da tabela
 import pandas as pd
 x = pd.read_csv("https://drive.google.com/u/3/uc?id=1LEfgutKJxFomzEVMjdFdSJIp4A5qq8oB&export=download")
 print(x.tail(8))

     Confederation                    Stadium  ...  IOC Population
2016           AFC         Thong Nhat Stadium  ...  VIE   94569072
2017          UEFA  Bangor University Stadium  ...  WAL    3125000
2018          UEFA       Cardiff City Stadium  ...  WAL    3125000
2019          UEFA            Liberty Stadium  ...  WAL    3125000
2020          UEFA            Parc y Scarlets  ...  WAL    3125000
2021          UEFA                Park Avenue  ...  WAL    3125000
2022          UEFA       Principality Stadium  ...  WAL    3125000
2023          UEFA          Racecourse Ground  ...  WAL    3125000

[8 rows x 8 columns]

In [98]:
 # EXERCICIO 1
 # 4 - Crie uma instrução para visualizar as 10 primeiras linhas dos atributos: Stadium, Country e Population
 import pandas as pd
 x = pd.read_csv("https://drive.google.com/u/3/uc?id=1LEfgutKJxFomzEVMjdFdSJIp4A5qq8oB&export=download")
 print(x[["Stadium","Country","Population"]].head(10))

                       Stadium  Country  Population
0          Stadiumi Besëlidhja  Albania     2876591
1          Stadiumi Flamurtari  Albania     2876591
2                Stadiumi Laçi  Albania     2876591
3         Stadiumi Niko Dovana  Albania     2876591
4     Stadiumi Selman Stërmasi  Albania     2876591
5          Stadiumi Skënderbeu  Albania     2876591
6      Stade 1er Novembre 1954  Algeria    42200000
7           Stade Ahmed Zabana  Algeria    42200000
8           Stade Amar Hareche  Algeria    42200000
9  Stade de l'Unité Maghrébine  Algeria    42200000

In [100]:
 # EXERCICIO 1
 # 5 - Crie uma instrução para visualizar a coluna: HomeTeams import pandas as pd
 x = pd.read_csv("https://drive.google.com/u/3/uc?id=1LEfgutKJxFomzEVMjdFdSJIp4A5qq8oB&export=download")
 print(x["HomeTeams"])

0                         Besëlidhja
1                   Flamurtari Vlorë
2                            KF Laçi
3                              Teuta
4       KF Tirana, Dinamo, Partizani
                    ...
2019                    Swansea City
2020          Scarlets, Llanelli RFC
2021                Aberystwyth Town
2022                               -
2023                     Wrexham AFC
Name: HomeTeams, Length: 2024, dtype: object

In [132]:
 # EXERCICIO 2
 import pandas as pd
 x = pd.read_csv("https://drive.google.com/u/3/uc?id=12a2A9SC33lRM29KGw6cRxTWTDXWXrYVb&export=download", sep = ",")
 print(x.query("Escolaridade == 'Superior'"))

   Codigo Escolaridade Genero  Idade_Anos  Tempo_Meses  Salario
2       4     Superior      M          54           89     8260
9      11     Superior      F          72           58    14020

In [166]:
 # EXERCICIO 3
 import pandas as pd
 x = pd.read_csv("https://drive.google.com/u/3/uc?id=12a2A9SC33lRM29KGw6cRxTWTDXWXrYVb&export=download", sep = ",")
 print(x.query("Idade_Anos > 50 & Genero =='M'"))

    Codigo Escolaridade Genero  Idade_Anos  Tempo_Meses  Salario
2        4     Superior      M          54           89     8260
7        9      1o Grau      M          65           99     1980
10      12      2o Grau      M          58           72     1890
12      14      1o Grau      M          65           80    13760
13      15      2o Grau      M          58           61    11530
15      17      1o Grau      M          52           25    18420

In [140]:
 # EXERCICIO 4
 import pandas as pd
 x = pd.read_csv("https://drive.google.com/u/3/uc?id=12a2A9SC33lRM29KGw6cRxTWTDXWXrYVb&export=download", sep = ",")
 print(x.groupby("Escolaridade")["Codigo"].count())

Escolaridade
1o Grau     12
2o Grau      6
Superior     2
Name: Codigo, dtype: int64

In [165]:
 # Exercício 5: Considere a base de dados de filmes (funciona.csv) contendo os atributos Codigo, Escolaridade, Genero, Idade_Anos, Tempo_Meses, Salario.
 # Escreva instruções para exibir o maior salário por Escolaridade
 import pandas as pd
 x = pd.read_csv("https://drive.google.com/u/3/uc?id=12a2A9SC33lRM29KGw6cRxTWTDXWXrYVb&export=download", sep = ",")
 print(x.groupby("Escolaridade")["Salario"].max())

Escolaridade
1o Grau     19910
2o Grau     16350
Superior    14020
Name: Salario, dtype: int64